{{- $cfg := ds "cfg" -}}  # $cfg でアクセスできるようにしておく。いちいち、(ds "cfg")しなくとも、$cfg でアクセス可能。

volumes:
  platform-k0s:
    name: platform-k0s


networks:
  # ip が変わると kubernetes が動かなくなるので 固定ipで管理
  default:
    name: fixed_compose_network
    external: true

services:
  kube:
    build:
      context: ./containers/k0s
    # container_name: kube-master
    hostname: kube-master  # host名が変わるとノードが NotReady となるため固定
    environment:
      EXTERNAL_DOMAIN: {{ (ds "cfg").merged.kube.external_domain | quote }}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      default:
        ipv4_address: {{ (ds "cfg").merged.kube.internal_ip | quote }}
#        aliases:
#          - {{ (ds "cfg").merged.kube.external_domain | quote }}
    privileged: true
    ports:
      - "30080:30080"  # for ingress
      - "30443:30443"  # for ingress
      - "6443:6443"
    restart: unless-stopped
    # taint: controller 専用とし、pod はデプロイできない
    command: ["k0s","controller","--enable-worker","--no-taints", "--single"]
    tmpfs:
      - /run
    volumes:
      - platform-k0s:/var/lib/k0s
      - /dev/kmsg:/dev/kmsg:ro  # カーネルログ
      # - /var/log/pods
      # - ./configs/kube:/mnt/kube
      # - ./volumes/step/certs:/certs:ro

  kong:
    # networks:
    #   - default
    image: kong:3.6
    # depends_on:
    #   minio:
    #     condition: service_healthy
    environment:
      KONG_DATABASE: "off"                       # DB-less
      KONG_DECLARATIVE_CONFIG: /kong/kong.yaml
      KONG_PROXY_LISTEN: 0.0.0.0:8000 http2, 0.0.0.0:8443 ssl http2
      KONG_ADMIN_LISTEN: 0.0.0.0:8001 http2, 0.0.0.0:8444 ssl http2
      KONG_NGINX_PROXY_PROXY_MAX_TEMP_FILE_SIZE: "0"  # NGINX全体でしか適用できない 大きめアップロード向け
      KONG_LOG_LEVEL: notice
      KONG_SSL_CERT: {{ (ds "cfg").merged.kong.KONG_SSL_CERT | quote }}
      KONG_SSL_CERT_KEY: {{ (ds "cfg").merged.kong.KONG_SSL_CERT_KEY | quote }}
    volumes:
      - ./configs/kong/kong.yaml:/kong/kong.yaml:ro
      - ./volumes/step/certs:/certs:ro
    ports:
      # - "80:8000"   # Proxy (HTTP)
      # - "443:8443"   # Proxy (HTTPS)
      - "8001:8001"   # Admin API (HTTP)
      - "8444:8444"   # Admin API (HTTPS)
      - "${KONG_HTTP_PORT}:8000"  # Proxy (HTTP)
      - "${KONG_HTTPS_PORT}:8443"  # Proxy (HTTPS)
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 5s
      timeout: 3s
      retries: 10

  stepca:
    image: smallstep/step-ca:latest
    user: {{ printf "%v:%v" (ds "cfg").merged.os.uid (ds "cfg").merged.os.gid | quote }}
    environment:
      DOCKER_STEPCA_INIT: 0
    volumes:
      - ./volumes/step:/home/step
    ports:
      - "9000:9000"
    # expose:
    #   - "9000"

  minio:
    # networks:
    #   - default
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      # バケットの Virtual-Host スタイルを有効化
      MINIO_DOMAIN: {{ (ds "cfg").merged.minio.MINIO_DOMAIN | quote }}
      # Kong 経由で外部URLを組み立てるための宣言
      MINIO_SERVER_URL: http://minio:9000
      MINIO_BROWSER_REDIRECT_URL: {{ (ds "cfg").merged.minio.MINIO_BROWSER_REDIRECT_URL | quote }}
    # ports:
    #   - "9000:9000"  # S3 API
    #   - "9001:9001"  # MinIO Console
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:9000/minio/health/ready"]
      interval: 10s
      timeout: 5s
      retries: 10

  pocket-id:
    # networks:
    #   - default
    image: ghcr.io/pocket-id/pocket-id:v1
    ports:
      - 1411:1411
    # volumes:
    #   - "./data:/app/data"
    # env_file: .env
    environment:
      APP_URL: {{ (ds "cfg").merged.pocket_id.APP_URL | quote }}
      TRUST_PROXY: true  # kong を信用する
      MAXMIND_LICENSE_KEY:
      PUID: 1000
      PGID: 1000
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
  